.section1 img
{
    width: 70%;
    padding-left: 1vh;
}
.section1
{
    padding: 5vh;
}
.section1 h1{
    text-transform: uppercase;
    padding-bottom: 2vh;
    font-weight: bold;
    font-size: 50px;
}
.section1 h1 span{
    color: red;
}
.section1 p{
    font-size: 2vh;
    font-weight:500;
}
.section2 img{
    width: 80%;
}