nav {
  background-color: rgb(61, 140, 218);
  font-size: 25px;
}
nav a {
  margin-left: 20px;
  text-decoration: none;
}
nav a.active {
  color: rgb(220, 167, 23);
  font-size: 35px;
  padding: 20px;
}
