.nav {
  line-height: 5vh;
  background-color: black;
}
.navheader img {
  padding-top: 3px;
  padding-right: 2px;
  width: 40px;
  border-radius: 50%;
  float: left;
}
.link {
  padding-left: 115vh;
}
.link a {
  text-decoration: none;
  padding-left: 7vh;
}
